{% extends "base.html" %}

{% block title %}Wikidata Art Depiction Explorer{% endblock %}

{% block content %}
<div class="m-3">
  <p><a href="{{ url_for('random_artwork') }}">random artwork</a>

  {#
  {% if not g.user %}
  | <a href="{{ url_for('start_oauth') }}">connect to Wikidata account</a>
  {% endif %}
  </p>
  #}

  {% if not g.user %}
    <p>This tool must be connected with Wikidata to work.</p>
    <p><a href="{{ url_for('start_oauth') }}" class="btn btn-primary btn-lg">Connect with Wikidata</a>
  {% endif %}

  <ul>
  {% for pid, label in props.items() %}
    <li><a href="{{ url_for('property_query_page', property_id=pid[1:]) }}">{{ label }}</a>
      ({{ pid }}) &ndash; {{ '{:,d}'.format(counts[pid]) }}
    </li>
  {% endfor %}
  </ul>
</div>

{% endblock %}
