{% extends "base.html" %}

{% block title %}Wikidata painting depicts{% endblock %}

{% block content %}
<div class="m-3">
  <p><a href="{{ url_for('random_painting') }}">random painting</a>

  {% if not username %}
  | <a href="{{ url_for('start_oauth') }}">connect to Wikidata account</a>
  {% endif %}
  </p>

  <p>username: {{ username }}</p>

  {% if not username %}
    <p>This tool must be connected with Wikidata to work.</p>
    <p><a href="{{ url_for('start_oauth') }}" class="btn btn-primary btn-lg">Connect with Wikidata</a>
  {% endif %}

  <ul>
  {% for pid, label in props.items() %}
    <li><a href="{{ url_for('property_query_page', property_id=pid[1:]) }}">{{ label }}</a>
    ({{ pid }})
    </li>
  {% endfor %}
  </ul>
</div>

{% endblock %}
