{% extends "base.html" %}

{% block content %}
<div class="p-2">

  <p>This tool has been used to save {{ edits.count() }} edits.</p>

  <table class="table w-auto">
    <thead>
      <tr>
        <th>username</th>
        <th>painting</th>
        <th>depicts</th>
        <th>when</th>
      </tr>
    </thead>
    <tbody>
    {% for edit in edit_list %}
    <tr>
      <td><a href="{{ edit.user_page_url }}">{{ edit.username }}</a></td>
      <td>{{ edit.painting_qid }}</td>
      <td>{{ depicts_items[edit.depicts_id].label }} ({{ edit.depicts_qid }})</td>
      <td>{{ edit.timestamp }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>


</div>

{% endblock %}
