{% extends "base.html" %}

{% block content %}
<div class="p-2">

  <p>This tool has been used to add a total of {{ edits.count() }} depicts statements.</p>

  <p>{{ user_count }} users have tried this tool.</p>

  <p>{{ painting_count }} paintings have been cataloged.</p>

  <table class="table w-auto">
    <thead>
      <tr>
        <th>username</th>
        <th>painting</th>
        <th>depicts</th>
        <th>when</th>
      </tr>
    </thead>
    <tbody>
    {% for edit in edit_list %}
    <tr>
      <td><a href="{{ url_for('user_page', username=edit.username.replace('_', ' ')) }}">{{ edit.username }}</a></td>
      <td><a href="{{ url_for('item_page', item_id=edit.painting_id) }}">{{ edit.painting.label }}</a>
        ({{ edit.painting_qid }})
        <a href="https://www.wikidata.org/wiki/{{ edit.painting_qid }}">[wikidata]</a>
      </td>
      <td><a href="https://www.wikidata.org/wiki/{{ edit.depicts_qid }}">{{ edit.depicts.label }}</a>
          ({{ edit.depicts_qid }})</td>
      <td>{{ edit.timestamp.strftime('%Y %b %d %H:%M') }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>


</div>

{% endblock %}
